/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ============== GLOBAL STYLES ============== */
html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
}

ul,
ol {

}

a {
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #e2e3ed;
}

h1 {
  font-size: 2.25rem;
  font-weight: normal;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
}

p {
  font-size: 0.875rem;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 0.5em;
}


/* ============== HOME PAGE ============== */
   /* BASE CODE FOR HEADER AND FOOTER */
header, 
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER AREA STYLING GUIDE */
header {
  flex-flow: column wrap;
  background-color: #202322;
}

header .logo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid gainsboro;
}

header .logo i {
  font-size: 2rem;
  padding: 10px;
}

header .logo .website-title {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0px;
}


/* Navigation Menu */
header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
  width: 100%;
  text-align: center;
}

header nav ul li {
  width: 100%;
  justify-content: center;
  font-weight: bold;
}

/* MAIN AREA STYLING GUIDE */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover-image,
.form-section,
.features,
.reviews {
  padding: 0;
  width: 100%;
}

/**** Title Image Section ***/
.cover {
  background: url('../img/4ward-path-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  height: 500px;
  width: 100%;
}

.cover h1 {
  margin: 0px;
  padding: 50px 30px;
}

/**** Form Section ***/
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #527158;
  padding: 30px 20px 50px 30px;
}

.form h3 {
  margin: 0px;
}

.form p {
  margin: 0px;
}

.form .form-description {
  margin-bottom: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
  margin-top: 20px;
  border: 1px solid black;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/**** Features Section ****/
.features {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('../img/4ward-path-2-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.features h2 {
  padding-left: 30px;
}

.features .features-items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.features .features-items .column-1,
.features .features-items .column-2 {
  margin: 0px 10px;
}

.features .features-items article {
  justify-content: flex-start;
  margin-bottom: 50px;
}

.features .features-items p {
  text-align: center;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 20px;
}

/**** Reviews Section ****/
.reviews {
  display: flex;
  flex-flow: column;
  background-color: #2a423a;
}

.reviews h2 {
  padding-left: 40px;
}

.reviews .reviews-content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.reviews .reviews-content figure img {
  margin: 0px 20px;
  padding: 0px 20px;
  width: 80%;
  overflow: hidden;
}

.reviews .reviews-info {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.reviews .reviews-info h3, 
.reviews .reviews-info p {
  margin: 0px 20px;
  padding: 0px 20px;
}
.reviews .reviews-info h3 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.reviews .reviews-info p {
  margin-bottom: 45px;
}

/* FOOTER SECTION STYLING GUIDE */
footer {
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  width: 100%;
  background-color: #202322;
}

footer h3 {
  margin: 0px;
}

footer .contact {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

footer .social .social-icons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .social .social-icons i {
  font-size: 1.5em;
}

footer .copyright {
  text-align: center;
}

/* ============== ABOUT US PAGE ============== */
.mission {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-flow: column wrap;
  background-color: #527158;
}

.mission-content {
  width: 90%;
  margin-bottom: 10px;
}

.map figure {
  width: 100%;
  height: 0; 
  padding-bottom: 125%; 
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.contact-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #2a423a;
}

.contact-info h2 {
  width: 90%;
}

.contact-info .contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-bottom: 25px;
}

/* ============== FAQs PAGE ============== */
.faqs {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #527158;
  padding-bottom: 20px;
}

.faqs h2 {
  width: 90%
}

.faqs-items {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 90%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*Tablet styles here*/
@media only screen and (min-width: 768px) {
  /* ============== HOME PAGE ============== */
  /* Navigation Menu Section */
  header {
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #202322;
  }

  header nav,
  header .logo {
    display: flex;
    flex-flow: row wrap;
    border: none;
    width: 45%;
  }

  header .logo {
    justify-content: flex-start;
    width: 40%;
    padding-left: 65px;
  }

  header nav {
    justify-content: flex-end;
    padding-right: 20px;
    width: 40%;
  }

  header nav ul {
    padding: 5px;
  }

  header nav ul li {
    width: 50%;
    justify-content: center;
    text-align: center;
  }

  /* Cover Image Section */
  .cover h1 {
    padding-left: 65px;
  }

  /**** Form Section ***/
  .form {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 45px 50px;
  }

  .form h3 {
    padding-bottom: 20px;
    font-size: 1.5rem;
  }

  .form .form-description {
    width: 40%;
  }
  
  .form .form-entry {
    width: 50%;
  }

  .form .form-entry .button {
    margin: 0px 0px 15px 0px;
    padding: 10px;
  }

  /**** Features Section ****/ 
  .features h2 {
    padding: 50px 10px 35px 10px;
    margin: 0px;
  }

  .features .features-items {
    display: flex;
    justify-content: center;
    flex-flow: row;
  }

  .features .column-1,
  .features .column-2 {
    display: flex;
    flex-flow: column;
    align-items: space-between;
  }

  .features .features-items-description,
  .features .features-items-description p {
    padding: 0px;
    margin: 0px;
  }

  .features article {
    padding: 0px;
  }

  /**** Reviews Section ****/
  .reviews h2 {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .reviews .reviews-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
  }

  .reviews .reviews-content figure {
    width: 45%;
  }

  .reviews .reviews-content .reviews-info {
    width: 45%;
    padding-right: 50px;
  }

  .reviews .reviews-content .reviews-info h3, 
  .reviews .reviews-content .reviews-info p {
    margin: 0px;
    padding: 0px;
  }

  /**** Footer Section ****/
  footer {
    flex-flow: row wrap;
    padding: 25px 0px 0px 0px;
  }

  footer .contact,
  footer .social {
    justify-content: flex-start;
    width: 45%;
  }

  footer .contact {
    margin: 0px;
    padding: 15px 0px;
  }

  footer .social .social-icons {
    justify-content: center;
  }

  footer .social .social-icons i {
    padding: 0px 15px;
  }

  /* ============== ABOUT PAGE ============== */  
  .contact-info {
    flex-flow: row wrap;
  }

  .contact-info h2 {
  }

  .contact-info .general-info,
  .contact-info .office-hours {
    flex-basis: 50%;
  }

  .map figure {
    padding-bottom: 47%; 
  }

  /* ============== FAQs PAGE ============== */
  .faqs {
    padding: 50px;
  }

  .faqs h2 {
    font-size: 2.25rem;
  }
  
  .faqs-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    padding: 0px 50px 50px 50px;
  }

  .faqs-items .faqs-column-1,
  .faqs-items .faqs-column-2 {
    width: 45%;
  }

  .faqs-items h3 {
    margin 10px 0px;
  }

  .faqs-items p {
    line-height: 1.125rem;
  }

@media only screen and (min-width: 1200px) {
  /* ============== HOME PAGE ============== */
  .cover h1 {
    font-size: 3.75rem;
  }

  .form h3 {
    font-size: 1.875rem;
  }

  .form p {
    font-size: 1.125rem;
  }

  .features h2 {
    font-size: 2.25rem;
  }

  .features .features-items {
    display: flex;
    flex-flow: column;
    width: 80%;
  }

  .features .column-1,
  .features .column-2 {
    flex-flow: row;
    justify-content: space-evenly;
  }

  .features .features-items article {
    width: 33%;
    padding: 10px;
  }

  .features .features-items article p {
    font-size: 1.125rem;
  }

  .reviews h2,
  .reviews .reviews-content {
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews h2 {
    font-size: 2.25rem;
  }

  .reviews .reviews-content {
    justify-content: flex-start;
  }

  .reviews .reviews-content figure img {
    padding: 0px;
    margin: 0px;
  }

  .reviews .reviews-content .reviews-info h3 {
    font-size: 1.875rem;
  }

  .reviews .reviews-content .reviews-info p {
    font-size: 1.125rem;
  }

  footer h3 {
    font-size: 1.875rem;
  }

  footer .contact address {
    font-size: 1.125rem;
  } 

  /* ============== ABOUT PAGE ============== */  
  .map figure {
    padding-bottom: 37.5%; 
  }

  /* ============== FAQs PAGE ============== */
  .faqs h2 {
    font-size: 3rem;
  }

  .faqs-items h3,
  .faqs-items p {
    font-size: 1.125rem;
    line-height: 1.125em;
  }
  .faqs-items h3 {
    margin: 10px 0px;
  }

  .faqs-items p {
    margin: 25px 0px;
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

